.container {
    max-width: 500px;
    margin: auto;
}



form {
    background-color: rgba(125, 197, 92, 0.849);
}

fieldset {
    border: none;
}

ul {
    padding: 0;
    list-style-type: none;  
    display: flex;
    flex-direction: column;
}

li {
    border: 1px white solid;
    border-radius: 5px;
    margin: 2px 0;
    padding: 10px;
    background-color: rgba(166, 245, 129, 0.849);
    text-align: center;
}

legend {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif
}

li label {
    float: left;
}

input[type="text"],
input[type="number"] {
    width: 150px;
    float: right;
    margin-right: 30%;
}

#user_address {
    height: 4em;
}

.centerAlign {
    margin: 0 auto;
    display: block;
    width: max-content;
    text-align: center;
     /* border: solid black 1px; */
}


button {
    background-color: rgba(18, 53, 2, 0.849);
    border-radius: 50px ;
    padding: 10px;
    color: white;
    width: 150%;
    border: none;
  }

  #cardOptions {
    margin: 0; 
    padding: 0;
    display: flexbox;
    flex-direction: row;
}

#cardType {
    display: block;   
    padding: 10px 0;
    float: none;
    text-align: left;
}

.creditCards {
    border: none;
    display: inline;
    justify-content: left;
    margin: 0 20px 0 0;
}

.creditCards label {
    float: none;
}



